<div class="chat">

	<div class="messages">
		<div class="message right">
			<div class="text">Hello</div>
			<div class="timestamp">18:45</div>
		</div>
	</div>

	<div class="form-wrapper">
		<form class="form">
			<h3>Send a message:</h3>
			<textarea class="message-input" name="message"></textarea>
			<div class="buttons">
				<input class="button submit-button" type="submit" value="Send">
				<input class="button clear-button" type="submit" value="Clear">
			</div>
		</form>
	</div>

</div>