<div class="profile">

	<form class="form">
		<table>
			<tr class="section">
				<td><h2 class="section-title">Facebook data (read only):</h2></td>
			</tr>
			<tr class="field">
				<td><label class="label" for="name">User name</label></td>
				<td>
					<input class="input"
								 type="text"
								 name="name"
								 value="<%= name %>"
								 readonly>
				</td>
			</tr>
			<tr class="field">
			  <td><label class="label" for="email">E-mail</label></td>
			  <td>
			  	<input class="input"
			  				 type="text"
			  				 name="email"
			  				 value="<%= email %>" 
			  				 readonly>
			  </td>
			</tr>				
			<tr class="section">
				<td><h2 class="section-title">User tags:</h2></td>
			</tr>
			<tr class="field">
			  <td><label class="label" for="tags">Tags</label></td>
				<td>
					<input class="tags-input"
								 type="hidden"
								 name="tags">
				</td>
			</tr>
		</table>

		<input class="button submit-button"
					 type="submit"
					 value="Save profile">

	</form>

</div>