<div class="send-message">

	<form class="form">
		<table>
			<tr class="section">
				<td ><h2 class="section-title">Send message form:</h2></td>
			</tr>
			<tr class="field">
			  <td><label class="label" for="tags">Message text</label></td>
				<td>
					<textarea class="input"
								 name="message"></textarea>
				</td>
			</tr>
			<tr class="field">
			  <td><label class="label" for="tags">Tags</label></td>
				<td>
					<input class="tags-input"
							 type="hidden"
							 name="tags">
				</td>
			</tr>
		</table>

		<input class="button submit-button" type="submit" value="Send message">
		<input class="button clear-button" type="submit" value="Clear form">

	</form>

</div>